body{
    background-image: url("background.jpg");
}

#form{
    border: solid gray 2px;
    width: 50%;
    border-radius: 5px;
    margin: 100px auto;
    background: white;
    padding: 25px;
}

#loginbtn{
    color: #000000;
    background: #ffffff;
    padding: 10px;
    margin-left: 1%;
}

#registerbtn{
    
    color: #ffffff;
    background: #000000;
    padding: 10px;
    margin-left: 1%;

}

#loginalign{
    text-align: left;
    margin-right: 10%;
}

#insertalign{
    text-align: left;
}

#searcher{
    text-align: right;
}